* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cntr {
    text-align: center;
}

.form {
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

.title {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: azure;
}

.button {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    position: relative;
    width: max-content;
}

.bcenter {
    left: 50%;
    transform: translate(-50%, 0);
}

.button:hover {
    border-color: #7a7a7a;
}

.button:active {
    background-color: #999999;
}
.float-right{
    float: right;
}
@media all and (max-width: 30em) {
    .button {
        display: block;
        margin: 0.2em auto;
    }
}

.pb {
    padding-bottom: 5px;
}

.textfield {
    border: 0.15em solid #CCCCCC;
    height: 30px;
    padding: 0.2em 1.45em;
    margin: 0.1em;

}
.profile {
    font-family: 'Segoe UI','Roboto',sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: right;
}
body {

    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: black;
    background-size: cover;
    background-position: center center;
    background-image: url("/assets/images/overlay.png");
    overflow: hidden;
}



.box {

    text-align: end;
    height: 20px;
}

.time {

    height: 20px;
    letter-spacing: -5px;
    position: fixed;
}

.a {
    color: #eeeeee;
}


.focus {
    height: 40px;
    text-align: center;
}

.btn:active,
.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(1.02)
}

.time {
    font-size: 8rem;

    margin: auto;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}


.btn-text {
    width: 60px;
    height: 60px;
    border: 0;
    background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    margin: 10px;
}

.btn-text:hover {
    filter: grayscale(.8);
    cursor: pointer;
    /* background-color:#16a085; */
    transition-duration: 1s;
}

.btn-text:active,
.btn-text:focus {
    outline: 0;
}

.btn-text:active {
    transform: scale(1.02)
}



